html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Tablet View - 772px */
@media (min-width: 772px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    figure {
        border-radius: 50%;
    }
    figure:last-child {
        grid-column: span 2;
    }
}

/* Large Screen View - 992px */
@media (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    figure {
        border-radius: 0;
    }
    figure:nth-child(3n) {
        grid-column: span 2;
    }
}

/* Prefers Reduced Motion */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    figure {
        background-color: #333;
        color: #ffd700;
        border: 2px solid black;
    }
}
